@import "../../../globalStyles/variables";

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  .input {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #dedede;
    outline: none;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      border: 1px solid $blue;
    }

    &.error {
      border: 1px solid $danger;
    }
  }

  .iconBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 5px;
    background-color: $lightGray;
    border: 1px solid transparent;
    outline: none;
    height: 55px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      border: 1px solid $blue;
    }
  }
}

.errorText {
  color: $danger;
  font-size: 0.8rem;
  margin-top: 0.75rem;
}

.errorText + .errorText {
  margin-top: -0.5rem;
}
