/* Color variables */
$blue: #448cca;
$blueDarker: #3375b0;
$blueRoute: #0000ff;

$darkGreen: #139717;

$success: #34e15a;
$successDarker: #24c848;

$danger: #ce2a2a;
$dangerDarker: #b01e1e;

$warning: #858912;
$warningDarker: #65680d;

$black: #333333;
$lightBlack: #969696;
$white: #ffffff;
$lightGray: #dedede;

$orange: #d69e36;
